@media only screen and (min-width:1281px ) and (max-width: 1360px) {

    html{
        overflow-x: hidden;
    }

    .navbar {
        padding: 1px;
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    
    .nome{
        position: relative;
        top: 40px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        left: 55px;
    }

    .navbar-left div{
        text-transform: uppercase;
        font-weight: 600;
        right: 360px;
        font-size: 15px;
        position: relative;
        display: flex;
    }

    .container{
        width: 100%;
        height: 0vh;
        background:#Fff;
        display: flex;
        justify-content: center;
    }
    .swiper{
        width: 1350px;
        height: 415px;
        border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    border: 0px solid #000000;
    }
    .swiper-slide img{
        width: 1350px;
        height: 415px;
        
    }
    
    #conteudo1{
        position: relative;
        top: 450px;
        left: 26px;
        display: flex;
        background-color: #fac86b;
        width: 1300px;
        height: 200px;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    
    .text1{
        font-family: 'Poppins', sans-serif;
        align-items: center;
        justify-content:flex-start;
        display: flex;
        position: relative;
        left: 60px;
        font-size: 18px;
        bottom: 30px;
    
    
    }
    
    .saibamais{
        font-family: 'Poppins', sans-serif;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: 40px;
        padding: 5px 20px 5px 20px;
        cursor: pointer;
        transition: 0.3s ease;
        position: relative;
        top: 20px;
        right:365px;
        font-size: 17px;
    }
    
    .saibamais:hover {
       padding: 8px 22px 8px 22px;
       -webkit-box-shadow: 0px 2px 9px 0px rgb(77, 77, 77);
       -moz-box-shadow: 0px 2px 9px 0px rgb(56, 56, 56);
        box-shadow: 0px 2px 9px 0px rgb(53, 52, 52);
    }
    
    
    .cont2-left {
        width: 650px;
        height: 600px;
        position: relative;
        top: 500px;
        display: flex;
        left: 26px;
        border-top-right-radius: none;
        border-top-left-radius: 40px;
        border-bottom-right-radius: none;
        border-bottom-left-radius: 40px;
        float: left;  
    }
    
    .cont2-left img{
        width: 650px;
        border-top-left-radius: 40px;
        border-top-right-radius: none;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: none;
    
    }
    
    .cont2-right {
        background-color: #fac86b;
        width: 650px;
        height: 600px;
        position: relative;
        top: 500px;
        display: flex;
        left: 26px;
        border-top-left-radius: none;
        border-top-right-radius: 40px;
        border-bottom-left-radius: none;
        border-bottom-right-radius: 40px;
    }
    
    
    .cont3-left {
        background-color: #fac86b;
        width: 650px;
        height: 600px;
        position: relative;
        top: 550px;
        display: flex;
        left: 26px;
        border-top-right-radius: none;
        border-top-left-radius: 40px;
        border-bottom-right-radius: none;
        border-bottom-left-radius: 40px;
        float: left;
        
    }

    .cont3-left h3{
        position: relative;
        bottom: 170px;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        color: #634d26;
        text-align: center;
        left: 255px;
    }
    
    .cont3-right img{
        width: 650px;
        border-top-left-radius: none;
        border-top-right-radius: 40px;
        border-bottom-left-radius: none;
        border-bottom-right-radius: 40px;
    }
    
    .cont3-right {
        width: 650px;
        height: 600px;
        position: relative;
        top: 550px;
        display: flex;
        left: 26px;
        border-top-left-radius: none;
        border-top-right-radius: 40px;
        border-bottom-left-radius: none;
        border-bottom-right-radius: 40px;
    }
    
    footer {
        position: absolute;
        width: 100%;
        top: 2150px;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255);
        height: auto;
        font-family: 'Poppins', sans-serif;
        padding-top: 40px;
        color: rgb(0, 0, 0);
        -webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.28);
    }
    
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        text-align: center;
    }
    
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;
    }
    
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 16px;
    }
    
    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0; 
    }
    
    .socials li{
        margin: 0 10px;
    
    }
    
    .socials a{
        text-decoration: none;  
        color: #000;  
    }
    
    .socials a i{
        font-size: 1.1rem;
    }
    
    .socials a:hover i{
        color: rgb(87, 87, 87);
    }
    
    .footer-bottom{
        background: rgb(255, 255, 255);
        width: 100%;
        padding: 20px 0;
        text-align: center;
        position: relative;
    }
    
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
}
